<!DOCTYPE html>
    <html lang="en">
        <head>
            <title>DNA converter</title>
            <meta charset="UTF-8">
            <meta name="Author" content="Gabe van den Hoeven">
            <link rel="stylesheet" href="/static/stylesheet.css">
        </head>
            <body>
                <form method="get">
                    <h1>Enter DNA sequence here:</h1>
                    <p><input type="text" name="dna"></p>
                    <p><input type="submit"></p>
                    <hr size="4" noshade="">
                    <h2>Protein sequence:</h2>
                    <p>{{ protein }}</p>
                </form>
            </body>
    </html>